{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/vehicle/individual_car/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add One
            </a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Vehicle List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Make Year</th>
                    <th>Vehicle Identification Number</th>
                    <th>License Plate Number</th>
                    <th>Vehicle Class</th>
                    <th>Office Info</th>
{#                    <th>Email</th>#}
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.vehicle_id }}</th>
                        <td>{{ obj.make}}</td>
                        <td>{{ obj.model }}</td>
                        <td>{{ obj.make_year }}</td>
                        <td>{{ obj.VIN }}</td>
                        <td>{{ obj.LPN }}</td>
{#                        the following two, we are gonna use dropdown (?)#}
                        <td>{{ obj.vehicle_class}}</td>
                        <td>{{ obj.office_info }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/vehicle/individual_car/{{ obj.id }}/view_all/">View All</a>
                            <a class="btn btn-primary btn-xs" href="/vehicle/individual_car/{{ obj.id }}/edit/">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/vehicle/individual_car/{{ obj.id }}/delete/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <ul class="pagination" style="margin-left: 300px">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}
