{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/admin/vehicle/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add One
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                User List
            </div>


            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Year</th>
                    <th>VIN</th>
                    <th>LPN</th>
                    <th>Class</th>
                    <th>Daily Rate</th>
                    <th>Extra Rate</th>
                    <th>Limit</th>
                    <th>Office</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.get_make_display }}</td>
                        <td>{{ obj.year }}</td>
                        <td>{{ obj.VIN }}</td>
                        <td>{{ obj.LPN}}</td>
                        <td>{{ obj.get_Vclass_display }}</td>
                        <td>{{ obj.daily_rate }}</td>
                        <td>{{ obj.extra_rate }}</td>
                        <td>{{ obj.limit }}</td>
                        <td>{{ obj.office }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/vehicle/{{ obj.id }}/edit/">Edit</a>
                            <a class="btn btn-danger btn-xs" href="/admin/vehicle/{{ obj.id }}/delete/">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <ul class="pagination" style="margin-left: 300px">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}
