{% extends 'user_template.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/admin/order/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add One
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                User List
            </div>


            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Start Point</th>
                    <th>End Point</th>
                    <th>User ID</th>
                    <th>Vehicle ID</th>
                    <th>Distance</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.StartDate }}</td>
                        <td>{{ obj.EndDate }}</td>
                        <td>{{ obj.get_StartPoint_display }}</td>
                        <td>{{ obj.get_EndPoint_display}}</td>
                        <td>{{ obj.UserId.id }}</td>
                        <td>{{ obj.VehicleId.id}}</td>
                        <td>{{ obj.distance }}</td>
                        <td>{{ obj.price }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <ul class="pagination" style="margin-left: 300px">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}
